[Unit]
Description=Fix Eth Name
ConditionPathExists=/fix-eth-name.sh

Before=networking.service
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash /fix-eth-name.sh
ExecStart=/usr/bin/env sh -c 'rm -f /fix-eth-name.sh /etc/systemd/system/fix-eth-name.service /etc/systemd/system/multi-user.target.wants/fix-eth-name.service'

[Install]
WantedBy=multi-user.target
